#gallery {
  list-style-type: none;
  display: flex;
}

.gallery-item:not(:last-child) {
  margin-right: 10px;
}
.gallery-image {
  max-height: 200px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
